.section-metas {
    color: rgb(255, 255, 255);
    font-size: 18px;
    gap: 20px;
    cursor: pointer;
}

.saldo {
    margin-top:auto;
    margin-left: 50px;
    align-items: center;
}

p {
    color: rgb(255, 255, 255);
}

.container-educacao {
    background-color: #c800a3;
    margin-right: 40%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
}

.container-laser {
    background-color: #c800a3;
    margin-right: 40%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
}

.container-saude {
    background-color: #c800a3;
    margin-right: 40%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
}

.container-transporte {
    background-color: #c800a3;
    margin-right: 40%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
}

.container-contas-a-pagar {
    background-color: #c800a3;
    margin-right: 40%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
}

.container-mercado {
    background-color: #c800a3;
    margin-right: 40%;
    margin-top:20px;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '>';
    display: inline-block;
    margin-right: 5px;
    transform-origin: center;
    transition: transform 0.3s;
}

details[open] summary::before {
    transform: rotate(90deg);
}

.barra {
    margin-top: 20px;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: #ccc;
}

.barra div {
    width: 300px;
    height: 20px;

    border-radius: 10px;
    background-color: #3ACFEF;
    transition: all 300ms;
}

.banner {
    justify-content: flex-end;
    margin-right: 40px;
    display: flex;

}

.banner img {
    width: auto;
}

.banner {
    display: flex;
    cursor: pointer;
}